.contact-container{
  display: grid;
 grid-gap: 10%;
  grid-template-columns:repeat(auto-fill,minmax(160px,500px));
justify-content: center;
margin: 4%;

}

.titles{
  color: white;
  letter-spacing: 9px;
  text-shadow: 3px 3px gray;

}

h2{
  text-shadow: 2px 2px gray;
}


.grid_contact_item {
  padding: 2%;
  background-color:rgba(95,158,160, 0.8);
  color: white;
  border-radius: 16px;
  box-shadow: 4px 4px 8px 6px rgba(111, 113, 114, 0.8);
  

}
  .grid_contact_item h1 {line-height: 0;}
  .grid_contact_item > h2:nth-child(2) {margin-top:12%; margin-bottom: 30px;}
  .grid_contact_item > h2 {line-height: 100%; letter-spacing: 3px;}

  .message-form{
    padding-bottom: 120px;
  width: 300px;
    margin: 2%;
  }

  .email-form{
    width: 280px;
    margin: 2%;
    height: 32px;
  }

.subm-button{
  margin: 1%;
 margin-left: 50%;

}


@media screen and (max-width: 650px) {
  .message-form{
    width: 250px;
    padding-bottom: 80px;
  }
  .email-form{
    width: 250px;
  }

  .contact-container{
    font-size: smaller;
    grid-gap: 6%;
  padding-bottom: 2%;
  margin: 6%;
  margin-bottom: 6%;
  }
}

@media screen and (max-width: 1024px) {
  .contact-container{
    margin-bottom: 6%;
   
  }
}

