.App {
  text-align: center;
 outline: none;
}
.app-container{
  margin-top: 6vw;
  margin-bottom:6vw;
  padding-bottom: 4%;
  height: auto;
  border-top: 20px solid cadetblue;
  border-bottom: 20px solid cadetblue;
  background-color: white;
	box-shadow: 4px 4px 8px 4px rgba(111, 113, 114, 0.8);
}


  .flex-box{
	  display:flex;
	margin-top: 50px;
	margin-bottom: 50px;
	  justify-content: center;
  }


footer {
position: fixed;
left: 0;
bottom: 0;
width: 100vw;
background-color: tan;
padding-bottom: 2px;
text-align: center;
letter-spacing: 2px;
color: white;
text-shadow: 2px 2px gray;
box-shadow: 0px 0px 4px 3px rgba(111, 113, 114, 0.8);
}


p{
  color: white;
  font-weight: 500;
}

.mylogo{
	height: 30px;
	width: auto;
}


@media screen and (max-width: 650px) {
  footer{
    position: relative;
    left: 0;
bottom:0;
width: 100vw;
  }
  .app-container{
    height: auto;
    border: none;
    box-shadow: none;
    padding-bottom: 4%;

  }
}

@media screen and (max-width: 1024px) {

  .app-container{
    margin-top: 18vw;
  }

}
@media screen and (max-width: 650px) {
footer{
  margin-top: 4vw;
  font-size: small;
}  

  }

