.App {
  text-align: center;
 
}
.app-container{
  margin-top: 6vw;
  margin-bottom:6vw;
  height: auto;
  border-top: 20px solid cadetblue;
  border-bottom: 20px solid cadetblue;
  background-color: white;
	box-shadow: 4px 4px 8px 4px rgba(111, 113, 114, 0.8);
}


  .flex-box{
	  display:flex;
	margin-top: 50px;
	margin-bottom: 50px;
	  justify-content: center;
  }


footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: tan;
padding-bottom: 2px;
text-align: center;
letter-spacing: 2px;
color: white;
text-shadow: 2px 2px gray;
box-shadow: 0px 0px 4px 3px rgba(111, 113, 114, 0.8);
}


p{
  color: white;
  font-weight: 500;
}

.mylogo{
	height: 30px;
	width: auto;
}


